 
.objave-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .objava {
    background-color: #8C7AA9; /* African Violet */
    color: #EFAFFF; /* Mauve */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 60%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .objava h2 {
    color: #DC6BAD; /* Sky magenta */
  }
  
  .komentari {
    margin-top: 20px;
    background-color: #7192BE; /* Blue Gray */
    padding: 10px;
    border-radius: 5px;
  }
  
  .komentar {
    background-color: #EDA2F2; /* Plum */
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
  }
  .details-button {
    padding: 10px 20px;
    background-color: #DC6BAD;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .details-button:hover {
    background-color: #EFAFFF;  
  }
  .search-input {
    width: 80%;
    padding: 10px;
    margin: 10px ;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-number {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-number:hover {
    background-color: #f0f0f0;
  }
  